body {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-image: url("../Imgs/STSH_Main_Image_1440x819.jpg");
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    min-height: auto;
    background-size: cover;
    -o-background-size: cover;
    background-position: 50%;
    height: 63vh;
    margin-top: 56px;
}
.navbar-brand {
    margin-right: 0;
}

.box {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    align-content: space-between;
}

.navigation {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: white;
}
.nav-item {
    text-align: right;
    padding-right: 15px;
}

.btn-aha {
    width: 267px;
    border: 2px solid white;
    border-radius: 100px;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.0357143em;
    padding: 1rem 1rem;
}

.blk {
    color: #ffffff;
    border-color: #000000;
    background-color: #000000;
}

.btn-search, .btn-learnMore {
    width: 140px;
    background: #EB2228;
    border-radius: 100px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0357143em;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 1rem 1rem;
}

.wiptitle {
    font-weight: 900;
    font-size: 30px;
    line-height: 32px;
    color: white;
}

.wipp {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.fo_title, .need_title {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.87);
}

.card-header {
    border-bottom: none;
    padding: 1.25rem 1.25rem;
}

.title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}

.title_q {
    font-size: 36px;
    line-height: 42px;
}

.negrito {
    font-weight: bold;
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
}

.bg-black {
    background-color: #050505;
    ;
}

.subtitle2, subtitle3 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.borderTop_li {
    border-top: 1px solid rgba(0,0,0,0.87);
}

.faq_li {
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid rgba(0,0,0,0.87);
    list-style: none;
}

.faq_link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.87);
}

.borderBlue {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    border-radius: 10px;
}

.zipCode {
    background-color: rgba(0, 0, 0, 0.02);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #050505;
    border: none;
    border-bottom: 2px solid black;
}

.btn_aha_black {
    border: 2px solid white;
    border-radius: 100px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.0357143em;
    color: white;
    padding: 1rem 1rem;
}
.btn_aha_black:hover {
  background-color:#EB2228;
  border-color:#eb2228;
}

/* utilities */
.mt-150 {
    margin-top: 15em;
}

.navbar {
    padding: 0px 40px 0px 40px
}
.navbar-brand {
    padding: 0px 0px;
}
.img-stop {
    width: 200px;
}
.mh-\[650px\] {
  min-height:650px;
}
/* Extra-Small devices (600px and down) */
@media only screen and (max-width: 600px) {
  .sm\:pt-\[200px\] {
    padding-top:200px;
  }
}


#accordion .card-header {
  background-color: unset;
  border-bottom: unset;
  padding: 0.50rem 0.35rem;
}

#accordion .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 0;
}

#accordion .card .card-body {
  border-top: 1px solid rgba(0, 0, 0, 1);
}

#accordion .card-body p:last-child {
  margin-bottom: 0px;
}

#accordion .card-body ul:last-child {
  margin-bottom: 0px;
}

#accordion .card-link {
  color: rgba(0, 0, 0, 1);
}

a.card-link:before {
   font-family: 'Glyphicons Halflings';
   content: "\e080";
   float: left;
   transition: all 0.5s;
   padding: 0px 10px 0px 0px;
}

a.card-link[aria-expanded="true"]:before{
    content: "\e114";
}

@media only screen and (max-width: 1680px) {
  body {
        max-width: 1280px;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 992px) {


        .navbar-light .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(235,34,40, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .navbar-toggler:hover, .navbar-toggler:focus {
            text-decoration: none;
            border-color: black;
        }

        button.navbar-toggler:focus {
            outline: 1px dotted;
            outline: none;
        }

    .navbar-toggler, .navbar-collapse {
        margin-top: -95px;
    }

        .img-stop {
            display: none;
        }
    }

    @media only screen and (max-width: 767px) {
      .navbar {
        padding: 0px 0px 0px 0px
      }
        .container-swap {
            display: flex;
            flex-flow: column;
        }

            .container-swap .two {
                order: 1;
            }

            .container-swap .one {
                order: 2;
            }

            .container-swap .three {
                order: 3;
            }

        .navbar-light .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(235,34,40, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .navbar-toggler:hover, .navbar-toggler:focus {
            text-decoration: none;
            border-color: black;
        }

        button.navbar-toggler:focus {
            outline: 1px dotted;
            outline: none;
        }
    }

    /* Extra-Small devices (600px and down) */
    @media only screen and (max-width: 600px) {

        .mt-150 {
    margin-top: 5em;
}

        .logoWPS {
            width: 193px;
        }

        .navigation {
            font-size: 18px;
        }

        .btn-aha {
            width: 200px;
            font-size: 14px;
            margin-top: 10px;
        }

        .container-swap {
            display: flex;
            flex-flow: column;
        }

            .container-swap .two {
                order: 1;
            }

            .container-swap .one {
                order: 2;
            }

            .container-swap .three {
                order: 3;
            }

        .navbar-light .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(235,34,40, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .navbar-toggler:hover, .navbar-toggler:focus {
            text-decoration: none;
            border-color: black;
        }

        button.navbar-toggler:focus {
            outline: 1px dotted;
            outline: none;
        }

        .navbar-toggler, .navbar-collapse {
           margin-top: -95px;
        }
        header {
          background-position: 15%;
      }
    }
    /* Small devices (600px --- 767px) */
    @media only screen and (min-width: 600px) {
    }

    /* Medium devices (768px --- 991px) */
    @media only screen and (min-width: 768px) {
        .logoWPS {
            width: 213px;
        }


        .btn-aha {
            display: none;
        }

        .navigation {
            display: inline-block;
            font-size: 18px;
        }

        .wiptitle {
            font-size: 36px;
        }

        .wipp {
            font-size: 24px;
            line-height: 24px;
        }

        .fo_title {
            font-size: 38px;
            line-height: 44px;
        }

        .title {
            font-size: 30px;
            line-height: 32px;
        }

        .title_q {
            font-size: 30px;
            line-height: 32px;
        }

        .need_title {
            font-size: 48px;
            line-height: 49px;
        }

        .subtitle {
            font-size: 20px;
            line-height: 28px;
        }

        .faq_link {
            font-size: 16px;
            line-height: 20px;
        }

        .zipCode {
            width: 100%;
            height: 73px;
            font-size: 20px;
            line-height: 22px;
            margin-top: 25%;
            margin-bottom: 20%;
        }

        .btn-search {
            width: 170px;
            font-size: 20px;
            line-height: 22px;
            margin-top: 25%;
            margin-bottom: 15%;
        }

        .btn-learnMore {
            width: 170px;
            height: 45px;
            font-size: 20px;
            line-height: 11px;
        }

        .subtitle2 {
            font-size: 18px;
            line-height: 34px;
        }

        .subtitle3 {
            font-size: 20px;
            line-height: 28px;
        }

        .btn_aha_black {
            width: 290px;
            font-size: 16px;
            line-height: 20px;
        }


        .centered {
            padding: 10% 10%;
        }
    }

    /* Medium devices (1024px) */
    @media only screen and (min-width: 1024px) {
        .logoWPS {
            width: 311px;
        }

        .navigation {
            font-size: 22px;
        }

        .wiptitle {
            font-size: 38px;
            margin-top: 10px;
        }

        .wipp {
            font-size: 26px;
            line-height: 26px;
        }

        .title {
            font-size: 32px;
            line-height: 34px;
        }

        .subtitle {
            font-size: 22px;
            line-height: 28px;
        }

        .faq_link {
            font-size: 18px;
            line-height: 24px;
        }

        .zipCode {
            width: 100%;
            height: 73px;
            font-size: 22px;
            line-height: 24px;
            margin-top: 12%;
            margin-bottom: 10%;
        }

        .btn-search {
            width: 190px;
            font-size: 22px;
            line-height: 24px;
            margin-top: 20%;
            margin-bottom: 15%;
        }

        .btn-learnMore {
            width: 190px;
            height: 50px;
            font-size: 20px;
            line-height: 16px;
        }

        .title_q {
            font-size: 36px;
            line-height: 42px;
        }

        .subtitle2 {
            font-size: 20px;
            line-height: 34px;
        }

        .subtitle3 {
            font-size: 20px;
            line-height: 28px;
        }

        .btn_aha_black {
            width: 320px;
            font-size: 20px;
            line-height: 24px;
        }

        .need_title {
            padding-top: 24px;
            font-size: 58px;
            line-height: 59px;
        }

        .subtitle3 {
            font-size: 22px;
            line-height: 30px;
            margin-top: 20px;
            padding: 15% 15%;
        }

        .centered {
            padding: 10% 10%;
        }
    }


    @media only screen and (min-width: 1440px) {
        .logoWPS {
            width: 311px;
        }

        .navigation {
            font-size: 24px;
        }

        .wiptitle {
            margin-top: 20px;
        }

        .wipp {
            margin-bottom: 20px;
        }

        .fo_title {
            font-size: 60px;
            line-height: 70px;
        }

        .title {
            font-size: 34px;
            line-height: 32px;
        }

        .title_q {
            font-size: 36px;
            line-height: 42px;
        }

        .need_title {
            padding-top: 30px;
            font-size: 64px;
            line-height: 65px;
        }

        .subtitle {
            font-size: 28px;
            line-height: 36px;
        }

        .faq_link {
            font-size: 20px;
            line-height: 32px;
        }

        .zipCode {
            width: 100%;
            height: 73px;
            font-size: 20px;
            line-height: 20px;
            margin: 0 auto;
        }

        .btn-search {
            width: 260px;
            font-size: 24px;
            line-height: 30px;
        }

        .btn-learnMore {
            width: 260px;
            height: 76px;
            font-size: 24px;
            line-height: 42px;
        }

        .subtitle2 {
            font-size: 24px;
            line-height: 45px;
        }

        .subtitle3 {
            font-size: 24px;
            line-height: 30px;
            margin-top: 20px;
            padding: 20% 20%;
        }

        .btn_aha_black {
            width: 402px;
            font-size: 24px;
            line-height: 28px;
        }

        .centered {
            padding: 15% 15%;
        }
    }
.card-columns.gx-0 {
  column-gap:0;
}
